[submodule "server/app/ee"]
	path = server/app/ee
	url = https://github.com/Aicser-Platform/open-aicser-ee-server.git

[submodule "client/src/ee"]
	path = client/src/ee
	url = https://github.com/Aicser-Platform/open-aicser-ee-client.git
